.message{
    width: fit-content;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding: 5px;
    background-color: dodgerblue;
    border-radius: 100rem;
    color: white;
    margin: 2px;
    transition: 0.1s;
}
.messages{
    width: 100%;
    height: 80%;
    overflow: auto;
}